	<!doctype html>
<html lang="vi">
<!--<![endif]-->
<head>
<title>Demo</title>
<meta charset="utf-8">
<!-- Meta -->

<meta name="description" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico">



<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- ######### CSS STYLES ######### -->

<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome.min.css">

<!-- responsive devices styles -->
<link rel="stylesheet" media="screen" href="css/responsive-leyouts.css" type="text/css" />

<!-- mega menu -->
<link href="js/mainmenu/sticky.css" rel="stylesheet">
<link href="js/mainmenu/bootstrap.min.css" rel="stylesheet">
<link href="js/mainmenu/demo.css" rel="stylesheet">
<link href="js/mainmenu/menu.css" rel="stylesheet">

<!-- revolution slider -->

<!-- CSS STYLE-->
<link rel="stylesheet" type="text/css" href="js/revolutionslider/css/style.css" media="screen" />



<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="js/revolutionslider/rs-plugin/css/settings.css" media="screen" />

<!-- simple line icons -->
<link rel="stylesheet" type="text/css" href="css/simple-line-icons.css" media="screen" />

<!-- flexslider -->
<link rel="stylesheet" href="js/flexslider/flexslider.css" type="text/css" media="screen" />

<!-- Accordions -->
<link rel="stylesheet" href="js/accordion/accordion.css" type="text/css" media="all">

<!-- tabs -->
<link rel="stylesheet" type="text/css" href="js/tabs/responsive-tabs.css">
<link rel="stylesheet" type="text/css" href="js/tabs/responsive-tabs2.css">
<link rel="stylesheet" type="text/css" href="js/tabs/responsive-tabs11.css">

<link rel="stylesheet" href="css/sky-forms.css" type="text/css" media="all">
</head>

<body onLoad="initialize()">
<div class="site_wrapper">
  <header id="header"> 
    
    <!-- Top header bar -->
    <div id="topHeader">
      <div class="wrapper">
      
        <div class="top_nav four">
          <div class="container">
        
          <div class="middle">
          <div class="logo"><a href="index.html" id="logo"></a></div>
          </div>
          
          
          
          <div class="right">
          <div style="font-size: 16px;    padding-top: 33px;" >
        Nhà đăng ký chính thức tên miền của VNNIC tại Việt Nam
          </div>
          </div>
          
            <div class="left">
          <ul class="links">
         
          <li><i class="fa fa-phone"></i> (84) 43933-4060</li>
          <li><a href="#"><i class="fa fa-comments"></i> sales@gltec.com</a></li>
          </ul>
          </div>
          
          
          
          </div>
        </div>
      </div>
    </div>
    <!-- end top navigation -->
    
    <div id="trueHeader">
      <div class="wrapper">
        <div class="container"> 
          <!-- Menu -->
          <div class="menu_main2">
            <div class="navbar yamm navbar-default">
              <div class="container">
                <div class="navbar-header">
                  <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1"  > <span>Menu</span>
                    <button type="button" > <i class="fa fa-bars"></i></button>
                  </div>
                </div>
                <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
                  <nav>
                  <ul class="nav navbar-nav">
                    <li class="dropdown"> <a href="#" class="active"> <i class="fa fa-home"></i></a></li>
                    <li class="dropdown"> <a href="#" class=""> Tên miền</a></li>
                    <li class="dropdown"> <a href="#" class="">Cloud hosting</a></li>
                    <li class="dropdown"> <a href="#" class="">Backup</a></li>
                    <li class="dropdown"> <a href="#" class="">VPS</a></li>
                    <li class="dropdown"> <a href="#" class="">Thiết kế website</a></li>
                    <li class="dropdown"> <a href="#" class="">SSL</a></li>
                      <li class="dropdown"> <a href="#" class="">Đại lý</a></li>
                    <li class="dropdown"> <a href="#" class="">Liên hệ</a></li>
                </ul></nav>
                </div>
              </div>
            </div>
          </div>
          <!-- end menu --> 
          
          <div class="menu_right_search_box">
    <form method="get"  action="">
        <div>
        <input class="serch_input"  value="Tìm kiếm" onFocus="if (this.value == 'Tìm kiếm') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Tìm kiếm';}" type="text" />
        <input  class="search_submit" value="" type="submit" />
        </div>
        </form>  
  </div>
  
        </div>
      </div>
    </div>
  </header>
  <div class="clearfix"></div>
  
  <div class="tp-banner-container">
    <div class="tp-banner2" >
      <ul>
        
       <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="images/sliders/slider1_thumb.jpg" data-delay="13000"  data-saveperformance="off"  data-title="Our Workplace"> 
          
          <!-- MAIN IMAGE --> 
          <img src="images/slide2_bg.jpg"  alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center"> 
          <!-- LAYERS -->
          
          <div class="tp-caption lfl"
						data-x="-50"
						data-y="40"
						data-speed="800"
						data-start="1000"
						data-easing="Back.easeOut"
						data-endspeed="300"
						data-captionhidden="on"
						style="z-index: 5"><img src="images/web_hosting_slideimg1.png" alt=""> </div>
          <div class="tp-caption offerbadge two sft"
						data-x="400"
						data-hoffset="0"
						data-voffset="-10"
						data-y="130"
						data-speed="800"
						data-start="1300"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6">Up to <br/>
            <span class="price two">50%</span><br/>
            /Offer</div>
          <div class="tp-caption offerbadge sfb"
						data-x="500"
						data-hoffset="0"
						data-voffset="-10"
						data-y="130"
						data-speed="800"
						data-start="1600"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6">Chỉ với <br/>
            <span class="price">540.000Đ</span><br/>
            /tháng</div>
          <div class="tp-caption text9 randomrotate customout tp-resizeme"
						data-x="750"
						data-y="68"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="2200"
						data-easing="Power3.easeInOut"
						data-splitin="chars"
						data-splitout="chars"
						data-elementdelay="0.08"
						data-endelementdelay="0.08"
						data-endspeed="300"
						style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Cloud Hosting</div>
          <div class="tp-caption slide_list sfb"
						data-x="750"
						data-hoffset="0"
						data-voffset="-10"
						data-y="120"
						data-speed="800"
						data-start="2500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6"><i class="fa fa-check"></i> 100% uptime</div>
          <div class="tp-caption slide_list sfb"
						data-x="750"
						data-hoffset="0"
						data-voffset="-10"
						data-y="150"
						data-speed="800"
						data-start="2800"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6"><i class="fa fa-check"></i> GIẢM 15% khi thanh toán 6 tháng</div>
          <div class="tp-caption slide_list sfb"
						data-x="750"
						data-hoffset="0"
						data-voffset="-10"
						data-y="180"
						data-speed="800"
						data-start="3100"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6"><i class="fa fa-check"></i> Hỗ trợ 24/7</div>
          <div class="tp-caption slide_list sfb"
						data-x="750"
						data-hoffset="0"
						data-voffset="-10"
						data-y="210"
						data-speed="800"
						data-start="3300"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6"><i class="fa fa-check"></i> Dùng thử trước khi mua</div>
         
        </li>
        
     
        
      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
  
  
  
 
  <div class="section_holder18">
    <div class="container">
      <div class="pagetitle">
        <h3>Cloud Hosting</h3>
      </div>
      <div class="pagenation">&nbsp;<a href="#">Trang chủ</a> <i>/</i> Cloud Hosting</div>
    </div>
  </div>
  <!--end pagenation-->
  <div class="clearfix"></div>

  <div class="section_holder13">
    <div class="container">	
    
     <div style="width:100%; background:#970001; padding:15px; color:#fff; font-size:18px; text-align:center;">Dịch vụ Cloud Hosting</div>
   
   <br>
   
   GLTEC cung cấp dịch vụ hosting trên nền máy chủ đám mây - Xu hướng ảo hóa dữ liệu và sử dụng điện toán đám mây nhằm tiết kiệm chi phí cho việc mua sắm thiết bị, vận hành ở bộ phận IT. Khách hàng chỉ trả phí cho những gì mình “thật sự dùng” khi sử dụng dịch vụ.<br>
   Các tài khoản hosting máy chủ của GLTEC được quản lý thông qua hệ thống ODIN PLESK dưới sự hỗ trợ 24/7 của các chuyên gia kỹ thuật của ODIN.<br><br>
   

<h3 class="lt_title_big">Choose Between</h3>

<div class="lt_title_line"></div>
<p class="lt_title_bottomtext">Dưới đây là các gói Cloud hosting tiêu chuẩn theo hai hệ điều hành Window và Linux:
  </p>
<div class="clearfix"></div>


  
  
  
    <div class="one_half">
        <div class="linux">
          <div class="title_holder">
            <div class="fl_left"><img src="images/site-img24.jpg" alt=""/></div>
            <h3 class="title uppercase bold">Linux</h3>
          </div>
          <div class="price_holder">
            <div class="price"><sup>Chỉ với</sup>198.000VND <i>/ Tháng</i></div>
          </div>
          <div class="cont">
            <ul class="list">
              <li><i class="fa fa-check"></i> Single Domain</li>
              <li><i class="fa fa-check"></i> 2000MB Memory</li>
              <li><i class="fa fa-check"></i> 500GB Bandwidth</li>
              <li><i class="fa fa-check"></i> Unlimited Emails </li>
              <li><i class="fa fa-check"></i> 24/7 Support</li>
            </ul>
         
            <a href="#" class="readmore_but5">Đặt mua</a><a href="#" class="readmore_but5">Chi tiết</a> </div>
        </div>
      </div>
      <!-- end item-->
      
      <div class="one_half last">
        <div class="linux">
          <div class="title_holder">
            <div class="fl_left"><img src="images/site-img25.jpg" alt=""/></div>
            <h3 class="title uppercase bold">Windows</h3>
          </div>
          <div class="price_holder">
            <div class="price"><sup>Chỉ với </sup>198.000VND <i>/ Tháng</i></div>
          </div>
          <div class="cont">
            <ul class="list">
              <li><i class="fa fa-check"></i> Single Domain</li>
              <li><i class="fa fa-check"></i> 2000MB Memory</li>
              <li><i class="fa fa-check"></i> 50GB Bandwidth</li>
              <li><i class="fa fa-check"></i> Unlimited Emails </li>
              <li><i class="fa fa-check"></i> 24/7 Support</li>
            </ul>
            
            <a href="#" class="readmore_but5">Đặt mua</a><a href="#" class="readmore_but5">Chi tiết</a> </div>
        </div>
      </div>
      <!-- end item--> 
      
      
      
  

<div style="clear:both; height:30px;"></div>



 
          
          







</div>
  
  </div>
  <!--end section 22-->

 
  
  
  
  
  
  <div class="clearfix"></div>
  <div class="section_holder45">
    <div class="container">
      <h5 class="lt_title_medium white">Đối tác</h5>
      <div class="section_title_line_full two"></div>
      <div class="clearfix"></div>
      <section class="slider">
        <div class="flexslider style4 carousel">
          <ul class="slides">
        
         <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l1.jpg" alt=""/> </div>
            </li>
            
                <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l2.jpg" alt=""/> </div>
            </li>
            
            
                <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l3.jpg" alt=""/> </div>
            </li>
            
                <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l4.jpg" alt=""/> </div>
            </li>
            
                <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l5.jpg" alt=""/> </div>
            </li>
            
            
            <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l1.jpg" alt=""/> </div>
            </li>
            
                <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l2.jpg" alt=""/> </div>
            </li>
            
            
                <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l3.jpg" alt=""/> </div>
            </li>
            
                <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l4.jpg" alt=""/> </div>
            </li>
            
                <li>
              <div class="clint_logo">
                <div class="hover_line"></div>
                <img src="images/l5.jpg" alt=""/> </div>
            </li>
            
            
          </ul>
        </div>
      </section>
    </div>
  </div><!--end section-->
  
  <div class="clearfix"></div>
  <div class="footer1 two">
    <div class="container">
      <div class="one_fourth">
        <h4 class="white">Về GLTEC</h4>
        <div class="footer_title_line"></div>
        <ul class="quick_links">
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Tuyển dụng</a></li>
          <!--li><a href="#">Đại lý</a></li-->
             <li><a href="#">Khuyến mãi</a></li>
       
          <li><a href="#">Liên hệ</a></li>
          <li><a href="#">Đại lý</a></li>
          <li><a href="#">Sơ đồ đường đi</a></li>
        </ul>
        <div class="newsletter">
          <p class="padd_bot1 margin_top1"> Đăng ký nhận tin</p>
          <form method="get" action="">
            <input class="email_input" value="E-mail Address" onFocus="if(this.value == 'E-mail Address') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'E-mail Address';}" type="text">
            <input name="" value="Gửi" class="email_submit two" type="submit">
          </form>
        </div>
      </div>
      <!--end about foxu-->
      
      <div class="one_fourth">
        <h4 class="white">Tin tức</h4>
        <div class="footer_title_line"></div>
        
        
        <div class="post_holder first active">
          <div class="img_holder">
            <div class="img"><img src="images/site-test.jpg" alt="" class="img_size1"/></div>
          </div>
          <div class="text"> <a href="#"><span class="bold">Lịch nghỉ lễ quốc khánh 2/9</span></a>
            <span class="info">By Me / 25 July</span> </div>
        </div>
        <!--end item-->
        
        <div class="post_holder active">
          <div class="img_holder">
            <div class="img"><img src="images/site-img71.jpg" alt="" class="img_size1"/></div>
          </div>
          <div class="text"> <a href="#"><span class="bold">Chương trình khuyến mãi thu vàng</span></a>
            <span class="info">By Me / 25 July</span> </div>
        </div>
        <!--end item-->
        
        <div class="post_holder last active">
          <div class="img_holder">
            <div class="img"><img src="images/site-img72.jpg" alt="" class="img_size1"/></div>
          </div>
          <div class="text"> <a href="#"><span class="bold">Ra mắt liên minh bảo vệ dữ liệu</span></a>
            <span class="info">By Me / 25 July</span> </div>
        </div>
        <!--end item--> 
        
      </div>
      <!--end products and services-->
      
      <div class="one_fourth">
        <h4 class="white">Sản phẩm & Dịch vụ</h4>
        <div class="footer_title_line"></div>
        
        
<div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Tên Miền</div></div>
<div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Cloud Hosting</div></div>
<div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Backup</div></div>
<div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">VPS</div></div>
<div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Thiết Kế Web</div></div>
<div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">SSL</div></div>
<div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">FAO</div></div>
<!--div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Terms of Service</div></div-->

      </div>
      <div class="one_fourth last">
        <h4 class="white">Trợ giúp</h4>
        <div class="footer_title_line"></div>
   
   <div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Hướng dẫn thanh toán</div></div>
   <div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Hỏi đáp tên miền</div></div>
   <div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Quy định tên miền quốc tế</div></div>
   <div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Quy định sử dụng dịch vụ</div></div>
   <div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Hỏi đáp Hosting</div></div>
   <div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Hỏi đáp Multisite</div></div>
   <div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Hướng dẫn quản lý DNS</div></div>
   <!--div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Câu hỏi thường gặp (Onepay)</div></div>
   <div class="list_st3"><div class="icon"><i class="fa fa-angle-right"></i></div><div class="text">Chính sách bảo mật thông tin</div></div-->
   
         </div>
      <!--end need help--> 
    </div>
  </div>
  <!--end footer-->
  
  
  <div class="copyrights">
    <div class="container">
      <div class="one_half"><span>Copyright © 2015 GLTEC.COM. All rights reserved.</span></div>
      <div class="one_half last">
        <ul class="social_icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-wordpress"></i></a></li>
          <li><a href="#"><i class="fa fa-android"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--end copy rights--> 
  
  <a href="#" class="scrollup"></a><!-- end scroll to top of the page--> 
  
</div>
<!--end sitewraper--> 



<!-- ######### JS FILES ######### --> 
<!-- get jQuery from the google apis --> 
<script type="text/javascript" src="js/jquery.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="js/revolutionslider/custom1.js"></script> 

<!-- mega menu --> 
<script src="js/mainmenu/bootstrap.min.js"></script> 
<script src="js/mainmenu/customeUI.js"></script> 

<!-- sticky menu --> 
<script type="text/javascript" src="js/mainmenu/sticky.js"></script> 
<script type="text/javascript" src="js/mainmenu/modernizr.custom.75180.js"></script> 

<!-- tabs --> 
<script src="js/responsive-tabs.min.js" type="text/javascript"></script> 

<!-- accordion --> 
<script type="text/javascript" src="js/accordion/custom.js"></script> 

<!-- scroll up --> 
<script src="js/totop.js" type="text/javascript"></script>

<!-- Flexslider --> 
<script  src="js/flexslider/jquery.flexslider.js"></script> 
<script  src="js/flexslider/custom.js"></script>
</body>
</html>
